body{
  margin: 0px;
  padding: 0px;
  /* outline: 1px solid yellow; */
  background-color: var(--background-color);
  min-height: 100dvh;
}
#root{
  position: relative;
  /* display: grid; */
  min-height: 100dvh;
  z-index: 1;
}