/* Variables */
/* --background-color : #0D1E35;
--accent: #2D5DD8;
--accent-faded: #4663AF;
--primary-text: #ffffff;
--secondary-text: #A8A8A8;
--background-faded: rgba(255,255,255,0.18); */

.snowContainer {
    background-color: transparent;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    overflow: hidden;
}

.snowContainer > .snow {
    background-color: var(--background-faded);
    display: inline-block;
    position: absolute;
    /* left: 50%; */
    width: 60px;
    height: 60px;
    border-radius: 10px;
    z-index: -1;
    animation: rotation 3s linear infinite;
    filter: blur(2px);
}

@keyframes rotation {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg);}
}
